.container-contacto {
    height: 400px;
    width: 100%;
    background: rgb(58, 112, 180);
    background: linear-gradient(90deg, rgba(58, 112, 180, 0.5494572829131652) 16%, rgba(253, 29, 244, 0.165703781512605) 51%, rgba(137, 137, 231, 0.16850490196078427) 100%);
    color: white;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    box-shadow:  10px 12px 10px 1px rgba(0, 0, 0, 0.158);
}

.container-contacto button{
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
}

.container-contacto-img{
    height: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

.container-contacto-img img{
    height: 150%;
    width: 70%;
    position: absolute;
    top: 50px;
    right:120px;
    transform: rotate(17deg);
}

.capa-emoji{
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0;
}
.capa-emoji img{
    height: 100%;
    width: 100%;
    object-fit: contain;

}

