.descripcion-container{
    height: 550px;
    width: 100%;
    background-color:#7209b7 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card{
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    background-image: url("../../img/blob-haikei (2).svg");
    background-position: center;
    background-repeat: no-repeat;
    
}

.card-descripcion{
    height: 250px;
    width: 250px;
    background-color: #ebe6e6;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    left: 50px;
}

.card-descripcion-auto{
    height: 250px;
    width: 250px;
    background-color: white;
    position: relative;
    top: 50px;
    right: 30px;
    border-radius: 10px;
}

.card-descripcion-header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-descripcion-body{
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.descripcion-text{
    height: 100%;
    width: 100%;
    color: white;
    padding: 60px 30px;
}