.portada-home {
    height: 600px;
    width: 100%;
    background-color:rgb(253, 251, 251);
    font-weight: bold;
    backdrop-filter: blur(3 px) saturate(5px);
}

.portada-home-text h1 {
    font-weight: bold;
}

.portada-home-text {
    height: 600px;
    width: 100%;
}

.btn-portada {
    padding: 10px 100px;
    margin-top: 20px;
    background: rgb(58, 112, 180);
    background: linear-gradient(90deg, rgba(58, 112, 180, 0.8407738095238095) 32%, rgba(253, 29, 244, 0.639093137254902) 64%, rgba(137, 137, 231, 0.5410539215686274) 100%);
    border: none;
    color: white;
}

.portada-home-img{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/bbburst.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portada-home-img img{
    height: 600px;
    width: 400px;
}