.portada-home {
    height: 500px;
    width: 100%;
    font-weight: bold;
    backdrop-filter: blur(3 px) saturate(5px);
    align-items: center;
    color: white;
    position: relative;
}

.portada-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/capa-emoji.svg');
    background-size: contain;
    opacity: 0.3;
}

.portada-container {
    height: 500px;
    background: rgb(58, 112, 180);
    border-radius: 20px;
    margin-top: 30px;
    background: rgb(58, 112, 180);
    background: linear-gradient(90deg, rgba(58, 112, 180, 0.5494572829131652) 16%, rgba(253, 29, 244, 0.165703781512605) 51%, rgba(137, 137, 231, 0.16850490196078427) 100%);
    z-index: 2;
}

.portada-home-text h1 {
    font-weight: bold;

}

.portada-home-text {
    height: 600px;
    width: 100%;
}

.btn-portada {
    padding: 10px 100px;
    margin-top: 20px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 10px;
}

.portada-home-img {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;

}

.portada-home-img img {
    height: 500px;
    width: 400px;
}

.item-portada-info {
    height: 100px;
    width: 300px;
    position: absolute;
    bottom: 170px;
    left: -140px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.425);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-portada-info div {
    height: 70px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    color: grey;
}


.item-portada-instagram {
    height: 80px;
    width: 230px;
    position: absolute;
    top: 170px;
    right: -30px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.082);
}

.avatar-instagram {
    height: 60px;
    width: 60px;
    background-color: rgba(201, 200, 200, 0.596);
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.082);
}

.avatar-instagram img {
    height: 60px;
    width: 40px;
    border-radius: 50%;
}

.instagram-name {
    height: 60px;
    width: 65%;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: grey;
}


@media screen  and (max-width: 599px) {

    .portada-container{
        height: 825px;
    }

    .portada-home{
        text-align: center;
        height: auto;
    }

    .portada-home-text{
        height: 400px;
    }

    .portada-home-img{
        height: 450px;
    }

    .portada-home-img img {
        height: 400px;
        width: 300px;
    }

    .item-portada-info {
        display: none;
    }

    .item-portada-instagram{
        display: none;
    }

    .btn-portada {
        padding: 15px 63px;
        margin-top: 20px;
        background-color: white;
        border: none;
        color: black;
        border-radius: 10px;
    }
}


 @media  screen and (max-width: 365px) {
    .portada-container{
        height: 840px;
    }

    .portada-home{
        text-align: center;
    }

    .portada-home-text{
        height: 400px;
    }

    .portada-home-img{
        height: 450px;
    }

    .portada-home-img img {
        height: 350px;
        width: 300px;
        margin-top: 80px;
    }

    .item-portada-info {
        display: none;
    }

    .item-portada-instagram{
        display: none;
    }

    .btn-portada {
        padding: 15px 63px;
        margin-top: 20px;
        background-color: white;
        border: none;
        color: black;
        border-radius: 10px;
    }
 }