/* .container-servicios{
    background-color: aqua;
} */

.servicios-card1{
    height: 250px;
    width: 100%;
    background-color: #daeffc;
}
.servicios-card2{
    height: 250px;
    width: 100%;
    background-color: #f9e4ff;
}
.servicios-card3{
    height: 250px;
    width: 100%;
    background-color: #f8ddd5;
}

