.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0c0517;
  background-color: white;
}


.color-1{
  background-color: #fbf0fe;
}

.color-2{
  background-color:#38f5fd ;
}

.color-3{
  color: #4361ee;
}

.color-4{
  color: #4cc9f0;
}

.color-5{
  color: #f72585;
}