.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0c0517;
  background-color: white;
}


.color-1{
  color: #7209b7;
}

.color-2{
  color: #3a0ca3;
}

.color-3{
  color: #4361ee;
}

.color-4{
  color: #4cc9f0;
}

.color-5{
  color: #f72585;
}